@model MBBackEnd.Models.SMSFilterPage
@{ ViewBag.Title = "SMS Messges Involving " + Model.PhoneNumber; }
    <!--TITLE-->
    <div class="container">
        <h2 class="text-center"><strong><u>SMS Messages: @Model.PhoneNumber</u></strong></h2>



        <!--Table-->
        <div class="container">

            <div id="tblDaily">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date Sent</th>
                            <th>Date Received</th>
                            <th>Received From</th>
                            <th>Sent to</th>
                            <th>Message</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var sms in Model.Messages)
                        {
                            <tr>
                                <!--adding the -7 hours takes it from UTC time to our time-->
                                <td>@sms.dtSent.AddHours(-7)</td>
                                <td>@sms.dtReceived.AddHours(-7)</td>
                                <td>
                                    @{if(sms.ReceivedFrom == Model.SanitizedPhoneNumber)
                                    {
                                          @:<span style="background: #ffd800">
                                    }}
                                        
                                    @sms.ReceivedFrom
                                    @if(sms.ReceivedFrom == Model.SanitizedPhoneNumber)
                                    {
                                        @:</span>
                                    }
                                </td>
                                <td>
                                    @{if(sms.SentTo == Model.SanitizedPhoneNumber)
                                    {
                                        @:<span style="background: #ffd800">
                                    }}
                                    

                                    @sms.SentTo
                                    @if(sms.SentTo == Model.SanitizedPhoneNumber)
                                    {
                                    @:</span>
                                    }
                                </td>
                                <td>@Html.Encode(sms.MessageBody)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>