<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div id="layoutMap"></div>
    <header>
        <div class="container">
            <a href="#" id="logo"><img src="/content/images/logo.png" /></a>
            <div class="navbar navbar-inverse ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Transit Route Home", "ShowRoutes", "Home")</li>
                        @if(User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Message Log", "Index", "Sms")</li>
                        }
                        @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </header>
    <div id="main">
        <div class="container">
            @RenderBody()
            <hr class="clear" />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>

        @RenderSection("scripts", required: false)
    <script src="http://maps.googleapis.com/maps/api/js">
    </script>
    <script type="text/javascript">
        var mapStyle = new google.maps.StyledMapType([
  {
      "stylers": [
        { "hue": "#0008ff" },
        { "gamma": 0.45 },
        { "lightness": -46 },
        { "saturation": -63 }
      ]
  }, {
      "featureType": "landscape",
      "stylers": [
        { "saturation": 17 }
      ]
  }, {
      "featureType": "road",
      "stylers": [
        { "saturation": 31 },
        { "hue": "#ff6e00" }
      ]
  }, {
      "featureType": "road.local",
      "stylers": [
        { "lightness": 28 },
        { "hue": "#d400ff" }
      ]
  }, {
      "elementType": "labels",
      "stylers": [
        { "visibility": "off" }
      ]
  }
        ]);
        var headerMap = new google.maps.Map($('#layoutMap')[0], {
            center: { lat: 49.883523, lng: -119.459585 },
            zoom: 12,
            mapTypeControlOptions: {
                mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'headermap']
            },
            disableDefaultUI: true,
            draggable: false,
            zoomControl: false,
            scrollwheel: false,
            disableDoubleClickZoom: true
        });
        headerMap.mapTypes.set('headermap', mapStyle);
        headerMap.setMapTypeId('headermap');


    </script>
</body>
</html>
