@model MBBackEnd.Models.SmsViewModels.SMSLogPage
@{
    ViewBag.Title = "AdminPage";
}
<script>
    function startTime() {
        var date = new Date();
        var time = "";
        var ampm = "AM";
        var hour = date.getHours();
        var min = checkTime(date.getMinutes());
        var sec = checkTime(date.getSeconds());
        var day = date.toDateString();

        if (hour > 12) {
            hour = hour - 12;
            ampm = "PM";
        }

        time = day + " - " + hour + ":" + min + ":" + sec + " " + ampm;
        document.getElementById('dateId').innerHTML = "" + time;
        var t = setTimeout(startTime, 500);
    }

    function checkTime(i) {
        if (i < 10) { i = "0" + i };
        return i;
    }
    $(document).ready(function () {
        startTime()
        $('#Daily').click(function () {
            $('#tblDaily').show();
            $('#tblWeekly').hide();
            $('#tblMonthly').hide();
        });
        $('#Weekly').click(function () {
            $('#tblDaily').hide();
            $('#tblMonthly').hide();
            $('#tblWeekly').show();
        });
        $('#Monthly').click(function () {
            $('#tblMonthly').show();
            $('#tblDaily').hide();
            $('#tblWeekly').hide();
        });
    });
</script>

<!--TITLE-->
<div class="container">
    <h2 class="text-center"><strong><u>Majic Bus Admin page</u></strong></h2>


    <!--DATE-->
    <p id="dateId">  </p>

    <!--different options of how to look at the collected data-->
    <div class="col-sm-8" style="padding-bottom:7px;">
        <button id="Daily" class="btn btn-default">Daily</button>
        <button id="Weekly" class="btn btn-default">Weekly</button>
        <button id="Monthly" class="btn btn-default">Monthly</button>
    </div>
</div>

    <!--Table-->
    <div class="container">

        <div id="tblDaily" style="display:none">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date Sent</th>
                        <th>Date Received</th>
                        <th>Received From</th>
                        <th>Sent to</th>
                        <th>Message</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var sms in Model.Daily)
                    {
                        <tr>
                            <!--adding the -7 hours takes it from UTC time to our time-->
                            <td>@sms.dtSent.AddHours(-7)</td>
                            <td>@sms.dtReceived.AddHours(-7)</td>
                            <td><a href="@Url.Action("ByPhone")/@sms.ReceivedFrom">@sms.ReceivedFrom</a></td>
                            <td><a href="@Url.Action("ByPhone")/@sms.SentTo">@sms.SentTo</a></td>
                            <td>@Html.Encode(sms.MessageBody)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <!--summary on each page -->
            <div class="row-fluid">
                <div class="container">
                    <p> Number of Texts Sent/Received: @Model.Daily.Count()</p>
                    <p> Most popular bus route: @Model.MostPopularDaily</p>
                </div>
            </div>
        </div>

        <div id="tblWeekly" style="display:none">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date Sent</th>
                        <th>Date Received</th>
                        <th>Received From</th>
                        <th>Sent to</th>
                        <th>Message</th>
                    </tr>
                </thead>

             <tbody>
                    @foreach (var sms in Model.Weekly)
                    {
                        <tr>
                            <td>@sms.dtSent.AddHours(-7)</td>
                            <td>@sms.dtReceived.AddHours(-7)</td>
                        <td><a href="@Url.Action("ByPhone")/@sms.ReceivedFrom">@sms.ReceivedFrom</a></td>
                        <td><a href="@Url.Action("ByPhone")/@sms.SentTo">@sms.SentTo</a></td>
                            <td>@Html.Encode(sms.MessageBody)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <!--summary on each page -->
            <div class="row-fluid">
                <div class="container">
                    <p> Number of Texts Sent/Received: @Model.Weekly.Count()</p>
                    <p> Most popular bus route: @Model.MostPopularWeekly</p>
                </div>
            </div>
        </div>

    <div id="tblMonthly" style="display:none">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date Sent</th>
                    <th>Date Received</th>
                    <th>Received From</th>
                    <th>Sent to</th>
                    <th>Message</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var sms in Model.Monthly)
                {
                    <tr>
                        <td>@sms.dtSent.AddHours(-7)</td>
                        <td>@sms.dtReceived.AddHours(-7)</td>
                        <td><a href="@Url.Action("ByPhone")/@sms.ReceivedFrom">@sms.ReceivedFrom</a></td>
                        <td><a href="@Url.Action("ByPhone")/@sms.SentTo">@sms.SentTo</a></td>
                        <td>@Html.Encode(sms.MessageBody)</td>
                    </tr>
                }
            </tbody>
        </table>
        <!--summary on each page -->
        <div class="row-fluid">
            <div class="container">
                <p> Number of Texts Sent/Received: @Model.Monthly.Count()</p>
                <p> Most popular bus route: @Model.MostPopularMonthly</p>
            </div>
        </div>
    </div>
</div>